.call-to-action{
    color: black;
    text-align: center;
    margin-top: 15em;
}
.links{
    text-align: center;
}
.social-link{
    text-decoration: none;
    color:black;
}
.main-background-color{
    background-color: rgb(85, 0, 241);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    color:white;
  }
*{
    font-family: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: rgb(59, 59, 59);
    }
    .call-to-action{
        color: white;
    }
    .social-link{
        color:white;
    }
    .main-background-color{
        background-color: rgb(60, 0, 170);
    }
}

@media only screen and (min-width: 1200px) {
    .call-to-action{
        text-align: center;
        margin:300px;
    }
}
